.checkbox-m {
    clear: both;
    height:1.3em;
    font-size: 1em;
    margin-top: .2em;

}
.checkbox-m label{
    width: 100%;
    height:1.3em;
    font-weight: normal;
    display:inline-block;
}
label input[type="checkbox"]:empty {
    display: none;
    height: 1.3em;
}

.spanNorm{
    padding-left:1em;
}
.spanEmpty{
    position: relative;
    height:1.4em;
    margin-top: 1.4em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.spanNotCheck {
    color: #333;
}
.spanCheck {
    color: #777;
}
/*
 * label input[type="checkbox"]:empty ~ span:before
*/
.spanEmptyBef{
    font-size: .85em;
    width: 1.6em;
    height:1.6em;
    background: #fff;
    border:1px solid #333;
    border-radius: 4px;
}
.spanNotCheckBef {
    display:inline-block;
    color: #fff;
}
.spanCheckBef {
    text-indent: .3em;
    display:inline-block;
    overflow: hidden;
    background-color: #fff;
}

.symbolSpanCheckBef{
    color: #333;
}