.checkbox-m {
    clear: both;
    height:1.5em;
    font-size: 1em;
}
.checkbox-m label{
    width: 100%;
    height:1.5em;
    font-weight: normal;
    display:inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
label input[type="checkbox"]:empty {
    display: none;
    height: 1.5em;
}


.spanEmpty{
    padding-left:1em;
    height:100%;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.spanEmptyBef{
    font-size: .85em;
    width: 1.6em;
    height:1.6em;
    background: #fff;
    display:inline-block;
    border:1px solid #333;
    border-radius: 4px;
}
.spanNotCheckBef {
    color: #fff;
}
.spanCheckBef {
    text-indent: .3em;
    overflow: hidden;
    background-color: #fff;
}

.symbolSpanCheckBef{
    color: #333;
}
